.Strengths{
  width: 100%;
  padding-left: 13px;
  position: relative;
  top: 50px;
}

.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  min-width: 60ch;
  min-height: 60ch;
  width: 45vw;
  height: 45vw;
  max-width: 100ch;
  max-height: 100ch;
  background-image: url(https://image.flaticon.com/icons/svg/119/119596.svg);
}

.card2 {
  width: 25ch;
  height: 25ch;
  background-image: url(https://image.flaticon.com/icons/svg/789/789395.svg);
}

.card3 {
  opacity: 0.9;
  width: 25ch;
  height: 25ch;
  background-image: url(https://image.flaticon.com/icons/svg/414/414927.svg);
}

.card4 {
  width: 25ch;
  height: 25ch;
  background-image: url(https://image.flaticon.com/icons/svg/789/789392.svg);
}

.container {
  width: 40%;
  height: 40%;
 
  top: 290px;
  left: 330px;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: .6;
  position: absolute;
  position: fixed;
  z-index: 0;
}
.color4{
  padding-right: 4px;
  width: 65px;
}
.color5{
  padding-right: 4px;
  color: rgb(38, 120, 243);
  width: 67px;
}
.color6{
  padding-right: 4px;
  color: rgb(230, 27, 71);
  width: 67px;
}
.color7{
  padding-right: 4px;
  color: rgb(186, 13, 192);
}
.color8{
  padding-right: 4px;
}

.strength__container1{
  /* width: 35%; */
  min-width: 434px;
  height: 400px;
  border: 1.8px solid #ccc;
  margin-bottom: 45px;
  border-radius: 5px;
  /* z-index: 1; */
 
}
.strength__container2{
  /* width: 35%; */
  min-width: 434px;
  height: 400px;
  border-radius: 5px;
  z-index: 1;
  border: 1px solid #ccc;
  margin-bottom: 110px;
}
.strength__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.lang__name{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  padding-top: 12px;
}
.lang__row{
  padding-left: 12px;
}
.lang__icons{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.workflow > ul{
  list-style: none;
}
.icon__size{
  width: 28px;
}
 
@media (max-width:700px){
  .Strengths{
    width: 100%;
    padding-left: 13px;
    position: relative;
    top: 110px;
  }
  .card1{
    min-width: 40ch;
    min-height: 40ch;
    width: 35vw;
    height: 35vw;
  }
 .card2,.card3,.card4{
    width: 28ch;
  }
  .container {
    width: 20px;
    height: 20px;
    top: 390px;
    left: 177px;
  }
  .strength__container{
    flex-direction: column;
  }
  .strength__container1,.strength__container2{
    min-width: 290px;
    border: 2px solid rgb(165, 158, 158);
  }
}
